.container{
  margin-top: 5%;
}

.commande{
  float: left;
  width: 70%;
  
}

.commande .line{
  width: 80%;
  height: 2px;
  background-color: rgb(180, 180, 180);
}

.commande .pc{
  margin-top: 20px;
}

.commande p{
  float: left;
}

.commande h6{
  float: left;
  margin-left: 20%;
}

.commande h5{
  float: left;
  margin-left: 20%;
}

.line-inside{
  clear: both;
  width: 70%;
  height: 2px;
  background-color: rgb(211, 209, 209); 
}

h2{
  font-size: 120%;
}

img{
  margin: 8px 20px 20px 8px;
  width: 15%;
  height: 15%;
  float: left;
}


