.container{
  margin-top: 100px;
}

.table{
  color: white;
}

thead{
  color: white;
  background-color: #6E00FA;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

tbody td,tbody th{
  color: rgb(39, 39, 39);
  font-size: 95%;
}

.table{
  box-shadow: 2px 3px 10px gray;
}

.btn{
  border-radius: 25px;
  font-size: smaller;
}

.badge{
  opacity: 0.66;
}

img{
  height: 40px;
  width: 50px;
}

.rounded{
  box-shadow: 2px 3px 10px gray;
  margin-bottom: 60px;
  width: 360px;
  float: right;
}

.add{
  border: 2px solid #6E00FA;
  background-color: #6E00FA;
  font-size: 20px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}